<div class='column'>

<h1>About</h1>
<p>This service monitoring tool provides visual representation on the status of sets of heterogeneous web services.</p>

<h1>Credits</h1>
<p>Built with F/OSS technologies by Preston Lee at TGen.</p>

<h1>Copyright</h1>
<p>Copyright &copy; <%= Time.now.year %> Preston Lee. All rights reserved.</p>
</div>

