.clear {clear: both;}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

body {
	font: .9em Georgia;
	color: #333;
	line-height: 1.5;
	background: #f8f8f8;
}

h1 {
	font: 3em Georgia;
/*	font-variant: small-caps; */
	margin: 10px 0;
	font-size: 2em;
}

h2 {
	margin: 10px 0;
	font: 1.5em Georgia;
}

.column {
	width: 400px;
	margin: 40px auto;
	color: #444;
	
	p {
		margin: 0 0 20px 0;
	}
	h1 {
		margin: 10px 0 8px;
	}
}

/*
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }



div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
*/