<footer>
	<p>
		Copyright © <%= Time.now.year %> Preston Lee. All rights reserved.
	</p>
	<p>
		Contact <a href="mailto:preston.lee@prestonlee.com">Preston Lee</a> for more information.
	</p>
</footer>