<header>
	<%= link_to image_tag('stakeout_logo.png'), '/', :alt => 'Stakeout'.html_safe, :id => 'logo' %>
	<!--p id="slogan">the server is <span id="status_word">up</span>.</p-->
	
	<div id="menus">
		<ul>
			<li><%= link_to 'home', '/' %></li>
			<li><%= link_to 'about', about_path %></li>
			<li><%= link_to 'legal', legal_path %></li>
		</ul>
	</div>
</header>